@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #1A5319;
    --cor-secundaria: #D6EFD8;
    --cor-terciaria: #22FD31;
    --cor-hover: #206e29;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    text-decoration: none;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    font-size: 24px;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}

.curriculo__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.curriculo__info h2 {
    font-family: var(--fonte-primaria);
    font-size: 36px;
    color: var(--cor-terciaria);
}
.curriculo__secao {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.curriculo__secao h2 {
    font-family: var(--fonte-primaria);
    font-size: 29px;
    border-bottom: 2px solid var(--cor-terciaria);
    padding-bottom: 10px;
}
.curriculo__item {
    margin-bottom: 15px;
}
.curriculo__item h3 {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 24px;
    color: var(--cor-terciaria);
}
.curriculo__item__subtitulo {
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    font-style: italic;
    color: #c0c0c0;
    margin-bottom: 10px;
}
.curriculo__secao ul {
    list-style-position: inside;
    padding-left: 20px;
}
.curriculo__secao li {
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    line-height: 1.6;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
}

.apresentacao__links_subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    border-radius: 16px;
}

.apresentacao__imagem {
    width: 50%;
    border-radius: 16px;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
    background-color: var(--cor-terciaria);
    text-align: center;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }
    .cabecalho__menu {
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo {
        width: auto;
    }
}

